version: "3.9"
services:
  api:
    build:
      context: .
      target: api
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - postgresql-slave
    command:
      - poetry
      - run
      - uvicorn
      - fever.api.main:app
      - --workers=4
      - --host=0
      - --port=8000
      - --log-level=debug
      - --reload
  event-reader:
    build:
      context: .
      target: reader
    env_file:
      - ./.env
    depends_on:
      - postgresql-master

    command:
      - poetry
      - run
      - python
      - fever/event_reader/main.py
  migration:
    build: .
    image: migration
    env_file:
      - ./.env
    command: poetry run alembic upgrade head
    depends_on:
      - postgresql-master
  postgresql-master:
    image: docker.io/bitnami/postgresql:14
    ports:
      - "5430:5432"
    volumes:
      - "postgresql_master_data:/bitnami/postgresql"
    environment:
      - POSTGRESQL_REPLICATION_MODE=master
      - POSTGRESQL_REPLICATION_USER=repl_user
      - POSTGRESQL_REPLICATION_PASSWORD=repl_password
      - POSTGRESQL_USERNAME=postgres
      - POSTGRESQL_PASSWORD=my_password
      - POSTGRESQL_DATABASE=my_database
      - ALLOW_EMPTY_PASSWORD=yes
  postgresql-slave:
    image: docker.io/bitnami/postgresql:14
    ports:
      - "5431:5432"
    depends_on:
      - postgresql-master
    environment:
      - POSTGRESQL_REPLICATION_MODE=slave
      - POSTGRESQL_REPLICATION_USER=repl_user
      - POSTGRESQL_REPLICATION_PASSWORD=repl_password
      - POSTGRESQL_MASTER_HOST=postgresql-master
      - POSTGRESQL_PASSWORD=my_password
      - POSTGRESQL_MASTER_PORT_NUMBER=5432
      - ALLOW_EMPTY_PASSWORD=yes

volumes:
  postgresql_master_data:
    driver: local
